{% extends 'main.html.twig' %}

{% block body %}
    <div class="ui segment">
        <h2 class="ui header">
            <div class="content">
                Categories
            </div>
        </h2>
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
        <div class="ui cards">
        {% for category in categories %}
                {% include 'partials/card.html.twig' %}
        {% endfor %}
        </div>
        <div class="ui hidden divider"></div>
        <form class="ui form" name="category" method="post">
            {{ form_start(categoryForm) }}
            <div class="fields">
                <div class="field">
                    {{ form_widget(categoryForm.name,{'attr': {'class' :'form-control', 'placeholder': 'Category name'}}) }}
                </div>
                <div class="field">
                    <button class="ui right floated primary labeled icon button">
                        <i class="plus icon"></i><a href="{{ path('category_new') }}"></a>Add new category
                    </button>
                </div>
            </div>
            {{ form_widget(categoryForm._token) }}
            {{ form_end(categoryForm) }}
        </form>
    </div>
{% endblock %}