{% extends 'main.html.twig' %}

{% block body %}
    <div class="col-md-12">
        <div class="panel panel-default main-content">
            <div class="panel-body">
                <h3>Create new category</h3>
                {{ form_start(categoryForm) }}
                <div class="form-group">
                    {{ form_row(categoryForm.name,{'attr': {'class' :'form-control'}}) }}
                </div>
                <button type="submit" class="btn btn-primary">Save Category</button>
                {{ form_end(categoryForm) }}

                <table class="table categories-list">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Category name</th>
                        <th>Total transactions</th>
                        <th>Largest transaction</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for detail in transactionDetails %}
                    <tr>
                        <th>{{ loop.index }}</th>
                        <th>{{ detail.name }}</th>
                        <th>{{ detail.totalTransactions }}</th>
                        <th>{{ detail.theLargestTransaction }}</th>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
{% endblock %}