<div class="ui vertical pointing menu">
    <a href="{{ path('homepage_main') }}" class="item" data-nav="home">
        Home
    </a>
    <a href="{{ path('category_new') }}" class="item" data-nav="category">
        Categories
    </a>
    <a href="{{ path('transaction_new') }}" class="item" data-nav="transactions">
        Transactions
    </a>
    <a href="{{ path('payment_new') }}" class="item" data-nav="payments">
        Payments
    </a>
</div>
<div class="ui vertical pointing menu">
    {% if is_granted("ROLE_USER") %}
        <a href="#" class="item">Logged in as <strong>{{ app.user.username }}</strong></a>
        <a href="{{ path('logout') }}" class="item">Logout</a>
    {% endif %}
</div>
