{% extends 'base.html.twig' %}

{% block body %}
    <div class="ui segment login-form">
        <div class="ui header">Sign up</div>
        <form class="ui form" action="/register/" method="post">
            <div class="field">
                <label>E-mail</label>
                <input type="email" id="fos_user_registration_form_email" name="fos_user_registration_form[email]"
                       placeholder="E-mail">
            </div>
            <div class="field">
                <label>Username</label>
                <input type="text" id="fos_user_registration_form_username" name="fos_user_registration_form[username]"
                       placeholder="Username">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" id="fos_user_registration_form_plainPassword_first"
                       name="fos_user_registration_form[plainPassword][first]" placeholder="Password">
            </div>
            <div class="field">
                <label>Repeat password</label>
                <input type="password" id="fos_user_registration_form_plainPassword_second"
                       name="fos_user_registration_form[plainPassword][second]" placeholder="Repeat password">
            </div>
            <div class="field">
                <label>Country</label>
                <div name="fos_user_registration_form[country]" id="fos_user_registration_form_country"
                     class="ui fluid search selection dropdown">
                    <input type="hidden" name="country" value="af">
                    <i class="dropdown icon"></i>
                    <div class="default text">Select Country</div>
                    <div class="menu">
                        {% for country in form.children.country.vars.choices %}
                            <div class="item" value="{{ country.value }}" data-value="{{ country.attr.iso }}"><i
                                        class="{{ country.attr.iso }} flag"></i>{{ country.label }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="field">
                <select name="fos_user_registration_form[currency]" id="fos_user_registration_form_currency"
                        class="ui fluid search selection dropdown">
                    {% for currency in form.children.currency.vars.choices %}
                        <option value="{{ currency.value }}">{{ currency.label }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="field">
                <button type="submit" class="ui button primary">Sign up</button>
            </div>
            {{ form_row(form._token) }}
        </form>
    </div>
{% endblock %}