{% extends 'main.html.twig' %}

{% block body %}
    <div class="ui segment">
        <h2 class="ui header">
            <div class="content">
                Transactions
            </div>
        </h2>
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
        <table class="ui compact celled table" id="categories-table">
            <thead>
            <tr>
                <th>Transaction id</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Comment</th>
                <th>Payment type</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in transactionList %}
            <tr>
                <td>{{ transaction.id }}</td>
                <td>{{ transaction.categoryName }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.comment }}</td>
                <td>{{ transaction.paymentMethod }}</td>
            </tr>
                {% endfor %}
            </tbody>
            <tfoot class="full-width">
            <tr>
                <th colspan="5">
                    <form class="ui form" name="category" method="post">
                        {{ form_start(transactionForm) }}
                        <div class="fields">
                            <div class="field">
                                {{ form_widget(transactionForm.category, {'attr': {'class': 'field'}}) }}
                            </div>
                            <div class="field">
                                {{ form_widget(transactionForm.amount, {'attr': {'class': 'field', 'placeholder': 'Amount'}}) }}
                            </div>
                            <div class="field">
                                {{ form_widget(transactionForm.payment, {'attr': {'class': 'field'}}) }}
                            </div>
                            <div class="field">
                                {{ form_widget(transactionForm.comment, {'attr': {'class': 'field', 'placeholder': 'Comment'}}) }}
                            </div>
                            <div class="field">
                                <button type="submit" class="ui right floated primary labeled icon button">
                                    <i class="plus icon"></i> Add new transaction
                                </button>
                            </div>
                        </div>
                        {{ form_end(transactionForm) }}
                    </form>
                </th>
            </tr>
            </tfoot>
        </table>
        {{ form_start(transactionBetweenDatesForm) }}
            {{ form_widget(transactionBetweenDatesForm.dateRange, {'attr': {'data-range': 'true',
                'data-multiple-dates-separator': ' , ', 'data-language': 'en', 'data-date-format': 'yyyy-mm-dd',
                'data-position': 'top left', 'class': 'datepicker-here'
            }}) }}
            <button type="submit">Find transactions</button>
        {{ form_end(transactionBetweenDatesForm) }}
    </div>
    {% if transactionRange is defined %}
        {% for transaction in transactionRange %}
            <div>id: {{ transaction.id }}</div>
            <div>category name: {{ transaction.categoryName }}</div>
            <div>amount: {{ transaction.amount }}</div>
            <div>comment: {{ transaction.comment }}</div>
            <div>paymentMethod: {{ transaction.paymentMethod }}</div>
        {% endfor %}
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('.js-datepicker').datepicker({
                language: 'en',
            })
        });
    </script>
{% endblock %}